/* highlight active item in butder menu */
.navbar-item.is-active {
  color: #3273dc !important;
}

/* larger textarea to create notes */
.textarea.has-extra-height {
  height: 50vh;
}


.edit-btn-container {
  position: relative;
  width: 100%;
}

.button.edit-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
